$pc_min_width: 720px;

$light: #ffffff;
$dark: rgba(40, 30, 25, 0.5);

$anchor_color: #28d0b4;

$default_font_color: #555;

$header_margin_top: 100 * 0.307 * 0.307 * 0.702;
$main_vertical_margin: $header_margin_top * (1/1.6);
$main_horizontal_margin: 10px;
$footer_vertical_margin: $header_margin_top * (1/1.6);

@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
$design_font_set: 'Cormorant Garamond', serif;

body {
  background: black url("/images/main-bg.jpg") no-repeat top center / 100% auto fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  color: $default_font_color;
}

a {
  color: $anchor_color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:hover, &:visited {
    color: $anchor_color;
  }
}

hr {
  border: 1px solid #f0f0f0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: #{$header_margin_top * (1/1.6)}vw 0 0 0;
  padding: 0;
  //font-size: 1.1em;

  list-style-type: none;

  .link {
    padding: .1em 0;
    text-align: center;

    @media screen and (min-width: #{$pc_min_width}) {
      width: 5.5em;
    }
    @media screen and (max-width: #{$pc_min_width}) {
      width: 4.75em;
    }
  }
}

header {
  order: 1;
  flex-grow: 0;
  min-width: 100%;
  width: 100%;
  padding: #{$header_margin_top}vw 0 #{$header_margin_top * (1/1.6/1.6)}vw 0;
  background: $dark;
  color: $light;
  font-family: $design_font_set;
  font-weight: bold;

  @media screen and (min-width: #{$pc_min_width}) {
    font-size: 2em;
  }
  @media screen and (max-width: #{$pc_min_width}) {
    font-size: 1em;
  }

  a {
    color: $light;

    &:hover, &:visited {
      color: $light;
    }
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .avatar {
      text-align: center;
      padding: 0 .6em 0 0;

      img {
        border: 5px solid $light;
        border-radius: 50%;

        @media screen and (max-width: #{$pc_min_width}) {
          width: 90px;
          height: 90px;
        }
      }
    }

    .name {
      text-align: center;
      padding: 0 .7em 0 0;
    }
  }
}

#main-outer {
  order: 2;
  flex-grow: 1;
  background: $light;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

main {
  max-width: 800px;
  width: calc(100% - 2 * #{$main_horizontal_margin});
  padding: 2.5em 0 #{$main_vertical_margin * 1.6 * 1.6}vw 0;

  @media screen and (min-width: #{$pc_min_width}) {
    font-size: 1.2em;
  }
  @media screen and (max-width: #{$pc_min_width}) {
    font-size: .9em;
  }

  .info {
    .date {
      color: #c0c0c0;
      font-size: .8em;
    }
  }

  & > h1 {
    margin: .67em 0 #{.67 * 1.6 * 1.6}em 0;
  }

  .recently-notes, .github, .qiita, .twitter {
    &:not(:first-child) {
      margin-top: 5em;
    }

    & > h1 {
      @media screen and (min-width: #{$pc_min_width}) {
        margin: 0 0 .6em 0;
      }
      @media screen and (max-width: #{$pc_min_width}) {
        text-align: center;
        margin: 0 0 .6em 0;
      }
    }
  }

  .twitter {
    .tweets {
      margin: 0 auto;

      @media screen and (min-width: #{$pc_min_width}) {
        width: 80%;
      }
      @media screen and (max-width: #{$pc_min_width}) {
        width: 100%;
      }
    }
  }

  .note {
    padding-top: #{1 / 1.6}em;
    text-align: justify;
    line-height: 2;

    h2 {
      margin: #{.67 * 1.6 * 1.6 * 1.6}em 0 #{.67 * 1.6}em 0;
    }

    .p {
      margin: 0 0 1.6em 0;
    }

    code {
      background-color: rgba(27, 31, 35, .05);
      border-radius: 3px;
      margin: 0;
      font-size: .85em;
      padding: .2em .4em;
    }
  }
}

.article-index {
  list-style-type: none;
  margin: 0;
  padding: 0;

  .card {
    display: flex;
    flex-direction: column;
    margin: 1.6em 0 1.6em 0;
    border: 1px solid #f0f0f0;
    padding: 1.6em;
    box-shadow: 1px 1px 2px rgba(80,80,80,.1);
    border-radius: 5px;

    .date {
      order: 1;
      color: #c0c0c0;
      font-size: .8em;
    }

    .title {
      order: 2;
    }

    .text {
      order: 3;
      padding-top: .6em;
    }
  }
}

footer {
  order: 3;
  flex-grow: 0;
  width: 100%;
  background: $dark;
  color: $light;
  padding: 0 0 #{$footer_vertical_margin}vw 0;
  text-align: center;

  a {
    color: $light;

    &:hover, &:visited {
      color: $light;
    }
  }

  .links {
    font-family: $design_font_set;
    font-weight: bold;

    @media screen and (min-width: #{$pc_min_width}) {
      font-size: 2em;
    }
    @media screen and (max-width: #{$pc_min_width}) {
      font-size: 1em;
    }
  }

  .copyright {
    margin-top: 2.56em;
  }
}
