<div id="HomeImage">
    <div id="HomeImageInner">
        <img src="/images/home.jpg">
    </div>
</div>
<div id="HomeDashboard">
    <section class="RecentlyNotes">
        <h1>Recently Notes</h1>
        $partial("templates/post-list.html")$
    </section>
    <section class="Twitter">
        <a class="twitter-timeline" href="https://twitter.com/siphilia_rn" data-widget-id="655313724090126336">@siphilia_rnさんのツイート</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
</div>

