<section class="recently-notes">
    <h1>Recently Notes</h1>
    $partial("templates/post-list.html")$
</section>
<section class="github">
    <h1>Github Repositories</h1>
    <p style="text-align:center">Recently commited 10 repos.</p>
    <div class="repositories article-index"></div>
</section>
<section class="qiita">
    <h1>Qiita</h1>
    <div class="posts article-index"></div>
</section>
<section class="twitter">
    <h1>Twitter</h1>
    <div class="tweets">
        <a class="twitter-timeline" href="https://twitter.com/sifyfy?ref_src=twsrc%5Etfw">Tweets by sifyfy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</section>
<script defer src="/js/card.js"></script>
<script defer src="/js/index.js"></script>